{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block title_html %} {% endblock %}
<h1> Group Page</h1>

{% block page_title %} {{ video.video_title }} {% endblock %}

{% block top_image %} 

<div id="group_header" style="background-image:url('{{ MEDIA_URL }}{{ group.group_images }}'); background-size: auto 130%;">
   <div class="group_title"><h1>{{ group.group_title }}</h1> </div>
</div> 

{% endblock %}

{% block main_content %}


    {{ user_status }}
{% if group_hidden == 2 %} 
    {% if user_status != 2 or user_status != 6 %}
<h4> this group is private </h4>
    {% endif %}
{% else %}

<div class="row">

   
    {% include "video/social-group-manager-column.html" %}

    <div class="small-12 large-6 columns group_content">
        <p>Group created by: <a href = "{% url 'video:user-profile' group.group_owner.id %}">{{ group.group_owner }}</a></p>

        <h3>Select videos for group</h3>
        <input type="text" id="search-videos" name="search videos">
        <ul id="search-videos-results">
            
        </ul>

        {% csrf_token %}
       


        <div id="video_list">
            <h2>Group Videos</h2>
            {% if videos|length > 0 %}
            {% for video in videos %}
            <a href="{% url 'video:video' video.id %}">
            <div class="block_item" id="group_{{ group.id }}">
           
                {% if video.youtube_id %}
                <img src="http://img.youtube.com/vi/{{ video.youtube_id }}/0.jpg">
                {% else %}
                {% thumbnail video.poster "600x400" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}



                {% endif %}
                <h3>{{ video.video_title }}</h3>
                
                <p>Tags:{{ video.tag_set.count }}</p>
            
            </div>  
            </a>     
            {% endfor %}
            {% endif %}
        </div>

        <h2 class="section_title">Members in group</h2>
        {% if admins|length > 0 %}
        {% for member in admins %}
        <a href = "{% url 'video:user-profile' member.id %}">
            <div class="block_item admin">
                {% thumbnail member.userprofile.avatar "100x100" crop="center" as im %}
                <img class="avatar admin" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                <h5>{{ member.username }}</h5>
            </div>
        </a>    
        {% endfor %}
        {% endif %}

        {% if members|length > 0 %}
        {% for member in members %}
        <a href = "{% url 'video:user-profile' member.id %}">
            <div class="block_item ">
                {% thumbnail member.userprofile.avatar "100x100" crop="center" as im %}
                <img class="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                <h5>{{ member.username }}</h5>
            </div>
        </a>    
        
           
        {% endfor %}
        {% endif %} 


         <h2 class="section_title">Tags in group</h2>
        {% if tags|length > 0 %}
        {% for tag in tags %}
        <a href="{% url 'video:video-time' tag.video.id tag.time_secs %}">
               
            <div class="block_item">

                {% if tag.tag_image %}
                {% thumbnail tag.tag_image "600x400" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                {% endif %}

                <h3>{{ tag.tag_title }}</h3>
            </div>
        </a>  
               
            {% endfor %}
            {% endif %} 

        <h2 class="section_title">Groups Collections</h2>
        {% for collection in collections %}
        <div class="" id="collection{{ collection.id }}">   
            <h3 class="section_title">{{ collection.collection_name }}</h3>
            {% for tag in collection.collection_tags.all %}
            <a href="{% url 'video:video-time' tag.video.id tag.time_secs %}">
               
              <div class="block_item">

                    {% if tag.tag_image %}
                    {% thumbnail tag.tag_image "600x400" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    {% endif %}

                    <h3>{{ tag.tag_title }}</h3>
                </div>
            </a>   
            {% endfor %}
        </div>        
        {% endfor %}

        <h2 class="section_title">Slides member has added</h2>
        {% for slide in slides %}
        <div class="block_item" id="slide_{{ slide.id }}">
        {% thumbnail slide.slide_image "300x200" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
            <h3>{{ slide.slide_name }}</h3>
        </div>        
        {% endfor %}
    </div>     





    {% include "video/social-group-discussion-column.html" %}
</div>

{% endif %}







{% endblock %}







