{% load thumbnail %}

<div  id="" class="small-12 large-3 columns">
    <div class="row">
        <div id="left_column_top" class="small-12 large-12 columns">
        </div>
    </div>  
    <div class="row">
        <div  id="left_column" class="small-12 large-12 columns">
            <div class="confirmation"></div>
            <!-- only show button if 7 ie not yet any membership or 5 i.e the user rejected a previous invitation-->
            {% if user.is_authenticated %}    

            <!--
                {{ user_status }}
            1-3 show nothing
            4- show invited - click to accept
            5- show join button
            6- no join button
            7- show join button
            -->
            {% if group.group_access != 3 %} 
                {% if user_status == 5 %} 
                    <button class="join-button" onclick = "javascript:requestGroup( {{ user.id }}, {{ group.id }}, {{ group.group_access }} ); ">Join Group</button>
                    <div class="invited"></div>
                {% elif user_status == 4 %}    
                    <p>You have been invited to join this group click to accept</p>
                    <button onclick = "javascript:acceptDecline( {{ user.id }}, 2 ); ">Accept</button>
                    <div class="invited"></div>
                {% elif user_status == 7 %}
                     <a href="{% url 'video:create' %}"><button class="join-button" onclick = "javascript:message( login ); ">Join Group</button></a>
                {% endif %}

            {% else %}
                <h5>This group does not accept membership requests</h5>
            {% endif %}    

            {% else %} 
                    <p class="section_title">You need to <a href="{% url 'video:public-connection' %}">login</a> or <a href="{% url 'video:create' %}">  register</a> in order to join a group </p>

            {% endif %}

            <div class = "sub_menu">
                <ul class="">
                    <a href="{% url 'video:social-group-members' group.id %}"><li>Members</li></a>
                    <a href="{% url 'video:user-profile-videos' user.id %}"><li>Videos</li></a>
                    <a href="{% url 'video:user-profile-tags' user.id %}"><li>Tags</li></a>
                    <a href="{% url 'video:user-profile-collections' user.id %}"><li>Collection</li></a>
                    <a href="{% url 'video:social-group-slides' group.id %}"><li>Slides</li></a>
                    {% if user == group.group_owner %}
                    <a href="{% url 'video:social-group-settings' group.id %}"><li>Settings</li></a>
                    {% endif %}
                </ul>   
            </div>

            {% if user.is_authenticated and user_status = 6  %}

            <a  onclick = "javascript:displayModerate();"><div class="moderation_title"><h3>Moderation Title</h3></div></a>    


            {% if unmoderated_tags %}
            <div class="moderation">  
                {% for unmod in unmoderated_tags %}
                <div class="moderation-item-{{unmod.id}}">
                    <h5>{{ unmod.tag_title }}</h5>  
                    <button onclick = "javascript:acceptReject( {{ unmod.id }}, 2 ); ">Accept</button>
                    <button onclick = "javascript:acceptReject( {{ unmod.id }}, 3 ); ">Reject</button>
                </div>   
                {% endfor %}
            </div> 
            {% endif %}
            
            


           

         

        <!-- end manager setting -->

            <h4>add users with the search</h4>
            <input type="text" id="search" name="search">
            <ul id="search-results">

            </ul>
                {% if requested|length > 0 %}
            <h2>Requests to join group</h2>

                {% for request in requested %}
            <div class="membership-item-{{request.id}}">

                <h3><a href = "{% url 'video:user-profile' request.id %}">{{ request.username }}</a></h3>
                <button onclick = "javascript:approveDecline( {{ request.id }}, 2 ); ">Accept</button>
                <button onclick = "javascript:approveDecline( {{ request.id }}, 3 ); ">Reject</button>

            </div>   
                {% endfor %}
                {% endif %}

            {% endif %}   

            <h2>Members in group</h2>
            {% if members|length > 0 %}


            {% for member in admins %}
            <a href = "{% url 'video:user-profile' member.id %}">
                <div class="member_list admin">
                    {% thumbnail member.userprofile.avatar "25x25" crop="center" as im %}
                    <img class="avatar admin" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    <h5>{{ member.username }}</h5>
                </div>
            </a>    
            
               
            {% endfor %}
            
            {% for member in members %}
            <a href = "{% url 'video:user-profile' member.id %}">
                <div class="member_list">
                    {% thumbnail member.userprofile.avatar "25x25" crop="center" as im %}
                    <img class="avatar" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                    <h5>{{ member.username }}</h5>
                </div>
            </a>    
            
               
            {% endfor %}
            {% endif %}

        </div>
    </div>    
</div>    