{% extends "base.html" %}
{% load thumbnail %}

{% block title_html %} {% endblock %}

{% block page_title %} 




{% endblock %}

{% block main_content %}


{% if video.video_file %}


<input type="hidden" value="{{ tag_time }}" name="start_time_secs">
<div id="left-column">
    <div id="video_container">
          


        <video id="my_video" controls width="100%" >
            <source src="/static/video/{{video.video_file}}">
        </video>
            <div id="tag_tabs_back">
                <div id="tag_tabs">
                    {% if tags|length > 0 %}
                    {% for tag in tags %}

                        <div id="tag_button_{{ tag.id }}" class="newtag user_{{ tag.user.id }}" style="left:{{ tag.tag_start }}%;" onclick = "javascript:playFromLoaded({{ tag.tag_start }})">
                            <span>{{ tag.tag_title }}</span>
                    
                        
                        </div>
                    {% endfor %}
                  {% endif %}
                </div>
            </div>   

        <div id="video_controls_bar"> 
            <button id="playpausebutton">play</button>
            <button id="mutebtn">Mute</button>
            <span id="curtimetext"></span>/<span id="durtimetext"></span>


            <input id="seekslider" type="range" min="0" max="100" value="0" step="1" style="width:100%">
            
            
           <!-- <button id="createtab">TAG IT</button> -->
        </div>   

        <h3>Groups this video is in</h3>
        {% if groups|length > 0 %}
            {% for group in groups %}
            <div id="group_{{ group.id }}">{{ group.group_title }}</div>
                {% for member in group.group_member.all %}
                    <div id="user_{{ member.id }}" class="user_list group_{{ group.id }}" onclick = "javascript:showSpecificToUser({{ member.id }})">{{ member.email }} </div>
                {% endfor %}
            {% endfor %}
        {% endif %}  
        
          <!--  
            <form>
            Tag Title:<br>
            <input type="text" name="tag_title" id="tag_title">
            <textarea id="tag_description" rows="4" width="40%" ></textarea>
            </form>
            -->
        
    </div>
</div>    


<div id="right-column">
    <div id="current_tag_outer">
        <div id="current_tag">hello</div>
        <div id="current_tag_avatar"></div>
        <div id="current_tag_user"></div>
    </div>

    <div>    
        <form action="create_tag/" method="POST" id="post_tag">
            {% csrf_token %}
          
            <input type="text" name="tag_title" id="tag_title">
            <textarea id="tag_description" rows="4" width="40%"></textarea>
            <input type="submit" name="submit" value="Create">
            <div id="results"></div> <!-- errors go here -->

        </form>

    </div>
</div>    


    <div id="tags_on_load">
        {% if tags|length > 0 %}
        {% for tag in tags %}
       
         <div id="tag_{{ tag.id }}" class="page_tags">
            <div class="tag-left">
                <img class="image_comments" src="  {{ tag.tag_image }}">
            <div class="tag-time">{{ tag.tag_start_string }}</div>
            <button onclick = "javascript:delete_tag( {{ tag.id }} ); ">Delete Tag</button>
            </div>
            <div class="tag-right">

            <h3>{{ tag.tag_title }}</h3>
            <p>{{ tag.tag_description }}<p>
            <div class="tag_username">{{ tag.user.username }}</div>
            <div class="tag_avatar">
                <img class="user_avatar" src="/static/video/{% thumbnail tag.user.userprofile.avatar.url 50x50 crop %}" >
            </div>
            
            </div>    
            <div class="tag_start">{{ tag.tag_start }}</div> 
        </div>
        
        {% endfor %}
        {% endif %}

    </div>  
   
   
        <canvas ></canvas>
        <div id="taglist"></div>
        
       
      

    </div>
</div> 

{% endif %}

{% endblock %}







